<html>
<head>
<title>activity_register_customer.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_register_customer.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#1FB4BD&quot;</span>
    <span class="s1">android:backgroundTint</span><span class="s2">=&quot;@color/notificationBarColor&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/main_title_bar&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/notificationBarColor&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/logo_image&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;220dp&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/logo&quot;</span>
            <span class="s1">android:contentDescription</span><span class="s2">=&quot;@string/app_name&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/app_name_text_view&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;25sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/smart_queue_system&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/main_title_bar&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span><span class="s0">&gt;</span>

<span class="s4">&lt;!--        &lt;com.google.android.material.appbar.AppBarLayout--&gt;</span>
<span class="s4">&lt;!--            android:layout_height=&quot;0dp&quot;--&gt;</span>
<span class="s4">&lt;!--            android:layout_width=&quot;wrap_content&quot; /&gt;--&gt;</span>


        <span class="s0">&lt;com.google.android.material.textfield.TextInputLayout</span>
            <span class="s1">style</span><span class="s2">=&quot;@style/TextInputLayout&quot;</span>
            <span class="s1">app:boxBackgroundColor</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
            <span class="s1">app:hintTextColor</span><span class="s2">=&quot;@color/actionBarColor&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;@string/username&quot;</span>
            <span class="s1">android:autofillHints</span><span class="s2">=&quot;@string/username&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;com.google.android.material.textfield.TextInputEditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/username_sign_in_customer_editText&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:inputType</span><span class="s2">=&quot;textPersonName&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span>




        <span class="s0">&lt;com.google.android.material.textfield.TextInputLayout</span>
            <span class="s1">style</span><span class="s2">=&quot;@style/TextInputLayout&quot;</span>
            <span class="s1">app:boxBackgroundColor</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
            <span class="s1">app:hintTextColor</span><span class="s2">=&quot;@color/actionBarColor&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;@string/email&quot;</span>
            <span class="s1">android:autofillHints</span><span class="s2">=&quot;@string/email&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;com.google.android.material.textfield.TextInputEditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/email_sign_in_customer_editText&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:inputType</span><span class="s2">=&quot;textEmailAddress&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span>




        <span class="s0">&lt;com.google.android.material.textfield.TextInputLayout</span>
            <span class="s1">style</span><span class="s2">=&quot;@style/TextInputLayout&quot;</span>
            <span class="s1">app:boxBackgroundColor</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
            <span class="s1">app:hintTextColor</span><span class="s2">=&quot;@color/actionBarColor&quot;</span>
            <span class="s1">app:passwordToggleEnabled</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;@string/password&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;com.google.android.material.textfield.TextInputEditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/password_sign_in_customer_editText&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span>






        <span class="s0">&lt;Button</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/login_button&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/rounded_butten&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/sing_in&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#1FB4BD&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
            <span class="s1">app:backgroundTint</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:layout_margin</span><span class="s2">=&quot;15dp&quot;</span><span class="s0">/&gt;</span>




    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/back_to_login_page_arrow&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;34dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;4dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/ic_baseline_arrow_back_24&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/go_to_company_sign_in_button&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/you_have_a_shop_join_us&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
        <span class="s1">style</span><span class="s2">=&quot;@style/TextAppearance.MaterialComponents.Button&quot;</span><span class="s0">/&gt;</span>



<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>