<html>
<head>
<title>activity_list_page.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_list_page.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;0dp&quot;</span>
    <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;0dp&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.activities.ListPageActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/linearLayout2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;3dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;88dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/log_out_button_list_page&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/textView11&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow3&quot;</span><span class="s0">&gt;&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;34dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;80dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;334dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;334dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/tableRow&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/ic_baseline_arrow_back_24&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TableRow</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tableRow&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;430dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;187dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;535dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/button11&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TableRow</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tableRow2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;373dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;83dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;2dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;330dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/tableRow3&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;89dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;78dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;15dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;15dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;5dp&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;5dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/logo&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView9&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_margin</span><span class="s2">=&quot;20dp&quot;</span>
            <span class="s1">android:onClick</span><span class="s2">=&quot;ToRestPage&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;5dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Smart Queue&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/TableRow&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView8&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;49dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;3dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;266dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;266dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;17dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/button11&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow3&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/list&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView9&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;37dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;49dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;3dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/textView11&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/linearLayout&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow3&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/ticket&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/log_out_button_list_page&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;37dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;3dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;17dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/linearLayout2&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow3&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/out&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView10&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;القائمة&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/linearLayout&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/imageView8&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow3&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView11&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;13dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;التذاكر&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/linearLayout2&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/imageView9&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow3&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TableRow</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tableRow3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;430dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;3dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/linearLayout2&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow2&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/linearLayout&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;3dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;75dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/imageView9&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/textView10&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow3&quot;</span><span class="s0">&gt;&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button11&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;1dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;1dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;54dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;تسجيل الخروج&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:backgroundTint</span><span class="s2">=&quot;#00BCD4&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/imageView8&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tableRow&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
</pre>
</body>
</html>