<html>
<head>
<title>activity_company_control.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_company_control.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">tools:ignore</span><span class="s2">=&quot;ExtraText&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.activities.company.CompanyBranchesActivity&quot;</span><span class="s0">&gt;</span>
<span class="s3">//</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;RelativeLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/button_addBranch&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;140dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:onClick</span><span class="s2">=&quot;addBranchButtonClicked&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;@string/add_branch&quot;</span>
                <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:backgroundTint</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span><span class="s0">/&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/button_logout&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;140dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s2">=&quot;end&quot;</span>
                <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:onClick</span><span class="s2">=&quot;Logout&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;@string/logout&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:backgroundTint</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
                <span class="s0">/&gt;</span>
        <span class="s0">&lt;/RelativeLayout&gt;</span>

        <span class="s0">&lt;androidx.recyclerview.widget.RecyclerView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/branches_recycler_view&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_margin</span><span class="s2">=&quot;5dp&quot;</span>
            <span class="s1">tools:listitem</span><span class="s2">=&quot;@layout/recyclerview_branch_item_company&quot;</span>
            <span class="s1">tools:itemCount</span><span class="s2">=&quot;10&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/loadingPanel_branches_company&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ProgressBar</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:indeterminate</span><span class="s2">=&quot;true&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/RelativeLayout&gt;</span>
    <span class="s4">&lt;!--    &lt;LinearLayout--&gt;</span>
    <span class="s4">&lt;!--        android:id=&quot;@+id/linearLayout2&quot;--&gt;</span>
    <span class="s4">&lt;!--        android:layout_width=&quot;395dp&quot;--&gt;</span>
    <span class="s4">&lt;!--        android:layout_height=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--        android:background=&quot;@color/colorPrimary&quot;--&gt;</span>
    <span class="s4">&lt;!--        android:onClick=&quot;editBranchClicked&quot;--&gt;</span>
    <span class="s4">&lt;!--        android:orientation=&quot;horizontal&quot;--&gt;</span>
    <span class="s4">&lt;!--        app:layout_constraintTop_toBottomOf=&quot;@+id/button_addBranch&quot;--&gt;</span>
    <span class="s4">&lt;!--        tools:ignore=&quot;MissingConstraints&quot;--&gt;</span>
    <span class="s4">&lt;!--        tools:layout_editor_absoluteX=&quot;8dp&quot;&gt;--&gt;</span>

    <span class="s4">&lt;!--        &lt;LinearLayout--&gt;</span>
    <span class="s4">&lt;!--            android:layout_width=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--            android:layout_height=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--            android:orientation=&quot;vertical&quot;&gt;--&gt;</span>

    <span class="s4">&lt;!--            &lt;TextView--&gt;</span>
    <span class="s4">&lt;!--                android:layout_width=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--                android:layout_height=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--                android:text=&quot;Name:&quot; /&gt;--&gt;</span>

    <span class="s4">&lt;!--            &lt;TextView--&gt;</span>
    <span class="s4">&lt;!--                android:layout_width=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--                android:layout_height=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--                android:text=&quot;Location:&quot; /&gt;--&gt;</span>

    <span class="s4">&lt;!--            &lt;TextView--&gt;</span>
    <span class="s4">&lt;!--                android:layout_width=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--                android:layout_height=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--                android:text=&quot;Number of Queues:&quot; /&gt;--&gt;</span>

    <span class="s4">&lt;!--        &lt;/LinearLayout&gt;--&gt;</span>

    <span class="s4">&lt;!--        &lt;ImageView--&gt;</span>
    <span class="s4">&lt;!--            android:id=&quot;@+id/imageView2&quot;--&gt;</span>
    <span class="s4">&lt;!--            android:layout_width=&quot;match_parent&quot;--&gt;</span>
    <span class="s4">&lt;!--            android:layout_height=&quot;wrap_content&quot;--&gt;</span>
    <span class="s4">&lt;!--            tools:srcCompat=&quot;@tools:sample/avatars&quot; /&gt;--&gt;</span>


    <span class="s4">&lt;!--    &lt;/LinearLayout&gt;--&gt;</span>



<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>