<html>
<head>
<title>activity_login.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_login.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.activities.LoginPageActivity&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/main_title_bar&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/notificationBarColor&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/logo_image&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;220dp&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/logo&quot;</span>
            <span class="s1">android:contentDescription</span><span class="s2">=&quot;@string/app_name&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/app_name_text_view&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;25sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/smart_queue_system&quot;</span>

            <span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>





<span class="s0">&lt;LinearLayout</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;20dp&quot;</span>
    <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
    <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
    <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/main_title_bar&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>



<span class="s4">&lt;!--    &lt;TextView--&gt;</span>
<span class="s4">&lt;!--        android:id=&quot;@+id/LoginText&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_width=&quot;wrap_content&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_height=&quot;wrap_content&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_gravity=&quot;center&quot;--&gt;</span>
<span class="s4">&lt;!--        android:text=&quot;@string/login&quot;--&gt;</span>
<span class="s4">&lt;!--        android:textColor=&quot;@color/white&quot;--&gt;</span>
<span class="s4">&lt;!--        android:textSize=&quot;36sp&quot;/&gt;--&gt;</span>

    <span class="s0">&lt;com.google.android.material.textfield.TextInputLayout</span>
        <span class="s1">style</span><span class="s2">=&quot;@style/TextInputLayout&quot;</span>
        <span class="s1">app:boxBackgroundColor</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
        <span class="s1">app:hintTextColor</span><span class="s2">=&quot;@color/actionBarColor&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;@string/email&quot;</span>
        <span class="s1">android:autofillHints</span><span class="s2">=&quot;@string/email&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;com.google.android.material.textfield.TextInputEditText</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/username_sign_in_customer_editText&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:inputType</span><span class="s2">=&quot;textEmailAddress&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
            <span class="s1">android:autofillHints</span><span class="s2">=&quot;@string/email&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span>





    <span class="s0">&lt;com.google.android.material.textfield.TextInputLayout</span>
        <span class="s1">style</span><span class="s2">=&quot;@style/TextInputLayout&quot;</span>
        <span class="s1">app:boxBackgroundColor</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span>
        <span class="s1">app:hintTextColor</span><span class="s2">=&quot;@color/actionBarColor&quot;</span>
        <span class="s1">app:passwordToggleEnabled</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;@string/password&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;com.google.android.material.textfield.TextInputEditText</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/password_sign_in_customer_editText&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:ems</span><span class="s2">=&quot;10&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
            <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/reset_password_text_view&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;start&quot;</span>
        <span class="s1">android:onClick</span><span class="s2">=&quot;ResetPass&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/forgot_my_password&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;5dp&quot;</span>
        <span class="s1">android:paddingLeft</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:paddingRight</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s2">=&quot;2pt&quot;</span><span class="s0">/&gt;</span>




    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/login_button&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;17sp&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/login&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#1FB4BD&quot;</span>
        <span class="s1">app:backgroundTint</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span><span class="s0">/&gt;</span>





<span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/sign_in&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/sing_in&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#1FB4BD&quot;</span>
        <span class="s1">app:backgroundTint</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;17sp&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s2">=&quot;5pt&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@id/What_is_sqs&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/What_is_sqs&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/what_is_smart_queue_system&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/notificationBarColor&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">/&gt;</span>

<span class="s4">&lt;!--    &lt;TextView--&gt;</span>
<span class="s4">&lt;!--        android:id=&quot;@+id/Admins&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_width=&quot;match_parent&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_height=&quot;wrap_content&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_gravity=&quot;start&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_margin=&quot;2pt&quot;--&gt;</span>
<span class="s4">&lt;!--        android:layout_marginVertical=&quot;5dp&quot;--&gt;</span>
<span class="s4">&lt;!--        android:onClick=&quot;Admins&quot;--&gt;</span>
<span class="s4">&lt;!--        android:paddingLeft=&quot;24dp&quot;--&gt;</span>
<span class="s4">&lt;!--        android:paddingRight=&quot;24dp&quot;--&gt;</span>
<span class="s4">&lt;!--        android:text=&quot;Admins&quot;--&gt;</span>
<span class="s4">&lt;!--        android:textColor=&quot;#FFFFFF&quot;--&gt;</span>
<span class="s4">&lt;!--        android:textSize=&quot;10sp&quot;--&gt;</span>
<span class="s4">&lt;!--        tools:layout_editor_absoluteX=&quot;5dp&quot; /&gt;--&gt;</span>


<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>