<html>
<head>
<title>recycle_panel.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
recycle_panel.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>

<span class="s0">&lt;LinearLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:layout_margin</span><span class="s2">=&quot;2pt&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;1pt&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/mainBackgroundColor&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemBranchNameText&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;@string/branch_name&quot;</span>
            <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;2pt&quot;</span>
            <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;1pt&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">/&gt;</span>



        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemBranchName&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;2pt&quot;</span>
            <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;1pt&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemBranchQueueNumberText&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;User Name&quot;</span>
            <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;2pt&quot;</span>
            <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;1pt&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemBranchQueueNumber&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;2pt&quot;</span>
            <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;1pt&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemBranchEmailText&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Company_email&quot;</span>
            <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;2pt&quot;</span>
            <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;1pt&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">/&gt;</span>



        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemBranchEmail&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;2pt&quot;</span>
            <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;1pt&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/LinearLayout&gt;</span>
</pre>
</body>
</html>